section {
    display: flex;
    flex-direction: row;
    margin-right: 7%;
}

label {
    display: block;
    font-weight: normal;
    font-size: 100%;
    margin-bottom: 4px;
}

#connectionPanel {
    width: 60%;
}
#connectionBox {
    background-color: #ECEBED;
    position: relative;

    width: 100%;
    height: 240px;
    border: solid black 0.5px;
    border-radius: 7px;
    padding: 10px 15px;
}

#connectionBox > h3 {
    color: black;
    font-size: 150%;
    margin-bottom: 15px;
}

#connectionBox a {
    color: black;
    font-weight: normal;
}

input {
    border: none;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

#connexion-plus{
    margin-top: 15px;
}

button {
    position: relative;
    float: right;
    padding: 5px;

    font-size: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;

    background: #604C8D;
    border: none;
}

#recentConnection{
    margin-top: 10px;
}

#otherOption {
    width: 100%;
    text-align: center;
}

#otherOption h4 {
    margin: 10px 0px;

    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 150%;
    text-transform: uppercase;
    color: black;
}

#otherOption h3 {
    display: inline-block;
    margin: auto;
    padding: 10px;
    
    font-size: 130%;

    background-color: #EAEAEA;    
}

