section {
    display: flex;
    flex-direction: row;
    margin-right: 7%;
}

label {
    display: inline-block;
    font-weight: normal;
    font-size: 100%;
    margin-bottom: 4px;
}

#recents {
    position: absolute;
    right: 35px;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 10px;

    text-align: right;    
}

#recents h3 {
    font-size: 150%;
}

#recents ul {
    list-style: none;
    font-size: 120%;
    margin: 2px 0px;
}

#recents h4 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 90%;
}